body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(52, 52, 52);
    color: rgb(205, 205, 205);
    box-sizing: border-box;
}

nav {
    background-color: rgb(34, 34, 34);
    margin: 0px;
    padding: 5px 10px;
    font-weight: 600;
    border-bottom: 1px solid #9a9a9a;
}

#mainContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
}

#left-navbar {
    background-color: rgb(64, 64, 64);
    border-right: 1px solid #9a9a9a;
    flex: 1;
    height: 100vh;
    padding: 20px 10px;
}

#content {
    flex: 6;
    padding: 20px 40px;
}

.button-box {

    display: flex;
    justify-content: center;
}

.button-box button {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(212, 207, 194);
    transition: all 0.10s ease-in-out;
    background-color: white;
    font-weight: 600;
}

.button-box button:hover {
    background-color: rgb(226, 221, 221);
}

.button-box button:active {
    background-color: rgb(201, 192, 192);

}

#shelf {
    line-height: 2em;
    padding-left: 0px;
}

dialog {
    border-radius: 10px;
    transition: 0.2s all;
}

::backdrop {
    background-image: radial-gradient(black, rgb(47, 47, 47));
    opacity: 0.45;
}

.listItem {
    border: 1px solid #9a9a9a;
    list-style-type: none;
    margin: 10px auto;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItem button {
    width: 100px;
}

li {
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    #mainContainer {
        flex-direction: column;
    }

    #left-navbar {
        border-right: none;
        border-bottom: 6px solid white;
    }

    #content {
        flex: 6;
        padding: 20px 10px;
    }

    .button-box button {
        width: 50%;
    }

    .listItem {
        flex-direction: column;
        align-items: center;
    }

}